@using Blog.WebUI.Models
@model Blog.WebUI.Models.UserModels.RoleEditModel
@{
    ViewBag.Title = "Edit Role";
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="~/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="~/assets/css/admin.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <!--easyui-->
    <link rel="stylesheet" type="text/css" href="~/Content/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/icon.css">
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--<![endif]-->
    <script src="~/assets/js/amazeui.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/Scripts/easyuijs/jquery.easyui.min.js"></script>
    <style>
        html,
        body {
            height: 100%;
            overflow: auto;
        }
    </style>
</head>
<body>
    <div style="height: 1000px; width: 800px; border: 5px solid red">
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p>

        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p>

        <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p>
        
        
        
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
        <p>11111111111111111111111111</p>
    </div>
<div style="height: 1000px; width: 800px; border: 5px solid red">
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p>

    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p>

    <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p> <p>11111111111111111111111111</p>
        
        
        
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
    <p>11111111111111111111111111</p>
</div>
</body>
</html>