@using Blog.WebUI.Infrastructure
@model Blog.WebUI.Models.AppUser
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a onclick="ChangePage('Desktop')" class="tpl-logo">
            <img src="~/assets/img/logo.png" alt="" class="tpl-logo">
        </a>
    </div>


    <div class="am-topbar-brand">
        <div class="am-icon-list am-icon-sm tpl-header-nav-hover-ico am-fl am-margin-right"></div>
    </div>


    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle" href="javascript:;">
                    <span class="am-icon-bell-o"></span> 提醒 <span class="am-badge tpl-badge-success am-round">5</span>
                </a>
                <ul id="message" class="am-dropdown-content tpl-dropdown-content">
                    <li class="tpl-dropdown-content-external">
                        <h3>你有 <span class="tpl-color-success">5</span> 条提醒</h3><a href="#">全部</a>
                    </li>

                    <li class="tpl-dropdown-list-bdbc">
                        <table class="am-table">
                            <tbody>
                                <tr>
                                    <td class="tpl-dropdown-list-fl"><a href="#"><span class="am-icon-btn am-icon-plus tpl-dropdown-ico-btn-size tpl-badge-success"></span><span style="color: chocolate">【预览模块】移动端 查看时 手机、电脑框隐藏。</span></a></td>
                                    <td class="tpl-dropdown-list-fr "><span style="color: blueviolet">3小时前</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </li>

                    <li class="tpl-dropdown-list-bdbc">
                        <table class="am-table">
                            <tbody>
                                <tr>
                                    <td class="tpl-dropdown-list-fl"><a href="#"><span class="am-icon-btn am-icon-check tpl-dropdown-ico-btn-size tpl-badge-warning"></span><span style="color: chocolate">移动端，导航条下边距处理</span></a></td>
                                    <td class="tpl-dropdown-list-fr "><span style="color: blueviolet">15分钟前</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </li>

                    <li class="tpl-dropdown-list-bdbc">
                        <table class="am-table">
                            <tbody>
                                <tr>
                                    <td class="tpl-dropdown-list-fl"><a href="#"><span class="am-icon-btn am-icon-bell-o tpl-dropdown-ico-btn-size tpl-badge-danger"></span><span style="color: chocolate">追加统计代码</span></a></td>
                                    <td class="tpl-dropdown-list-fr "><span style="color: blueviolet">2天前</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </li>

                </ul>
            </li>

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle" href="javascript:;">
                    <span class="am-icon-comment-o"></span> 消息 <span class="am-badge tpl-badge-danger am-round">9</span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content">
                    <li class="tpl-dropdown-content-external">
                        <h3>你有 <span class="tpl-color-danger">9</span> 条新消息</h3><a href="###">全部</a>
                    </li>
                    <li>
                        <a href="#" class="tpl-dropdown-content-message">
                            <span class="tpl-dropdown-content-photo">
                                <img src="~/assets/img/user02.png" alt="">
                            </span>
                            <span class="tpl-dropdown-content-subject">
                                <span class="tpl-dropdown-content-from"> 禁言小张 </span>
                                <span class="tpl-dropdown-content-time">10分钟前 </span>
                            </span>
                        </a>
                        <a href="#" class="tpl-dropdown-content-message">
                            <span class="tpl-dropdown-content-photo">
                                <img src="~/assets/img/user03.png" alt="">
                            </span>
                            <span class="tpl-dropdown-content-subject">
                                <span class="tpl-dropdown-content-from"> Steam </span>
                                <span class="tpl-dropdown-content-time">18分钟前</span>
                            </span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span><img src="~/Content/images/01.jpg" width="30px" height="30px" style="border-radius: 30px" />&nbsp;&nbsp;</span>@Model.UserName <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#" onclick="ShowProfile('@Model.UserName','@Model.Id')"><span class="am-icon-user"></span> 简介
                    </a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#" onclick="Logout()"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>