@using System.Web.UI.WebControls
@{
    ViewBag.Title = "首页";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Blog" />
    <!--font-awesome字体图标-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/mycss/index.css" rel="stylesheet" />
    <!--JQuery-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--VUE JS-->
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 实际环境版本，删除debug信息 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script> -->
    <!--本地VUE-->
    <!-- <script src="js/vue.min.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="~/Scripts/myjs/index.js"></script>

</head>
<body>
    <!--VUE 容器-->
    <div id="app">
        <div class="pc-menu">
            <nav>
                <ul>
                    <li class="logo" style="background: url('../../Content/images/logo-1.png') no-repeat;width: 120px;"></li>
                    <li ref="siteHome" v-for="(item,index) in menus" v-bind:id="'menu-'+index"><a href="#" class="a-basicCSS" v-on:mouseover="changebgColor($event)" v-on:mouseout="changebgColor($event)" v-on:click="setColor($event)">{{item.name}}</a></li>
                </ul>
                <div class="search-box">
                    <input v-model="searchtext" class="search-text" type="text" name="" placeholder="Type to Search">
                    <a href="#" class="search-btn" v-on:click="SearchData">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
                <div class="mobile-menu-btn" v-on:click="showmobilemenu">
                    <span><i class="fa fa-bars fa-2x"></i></span>
                </div>
            </nav>
        </div>
        <div class="mobile-menu">
            <nav>
                <ul>
                    <li class="mobile-logo"><img src="~/Content/images/logo-1.png" alt="111"></li>
                    <li class="mobile-search">
                        <input v-model="searchtext" class="mobile-search-text" type="text" name="" placeholder="Type to Search">
                        <a href="#" class="mobile-search-btn" v-on:click="SearchData">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li ref="siteHome2" v-for="(item,index) in menus" v-bind:id="'menu-'+index">
                        <a href="#" class="a-basicCSS" v-on:mouseover="changebgColor($event)"
                           v-on:mouseout="changebgColor($event)" v-on:click="setColor($event)">{{item.name}}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="cards">

            <div class="articles-card-list">
                <div class="site-notices">
                    <el-carousel :interval="5000" arrow="always">
                        <el-carousel-item v-for="item in 4" :key="item">
                            <h3>{{ item }}</h3>
                        </el-carousel-item>
                    </el-carousel>
                </div>
                <transition-group name="card" tag="div">
                    <div :key="item.id" class="card-item" v-for="(item,index) in datas" v-bind:id="'card-'+item.id" v-on:mouseover="toggleShow($event)"
                         v-on:mouseout="toggleHide($event)">
                        <div class="item-img"><img v-bind:src="item.img" alt="这是一张图片" style="width: 100%; height: 135px;"></div>
                        <div class="item-content">
                            <div class="item-title">
                                <a href="#" class="cat">{{item.uname}}<i></i></a>
                                <span class="title" v-on:mouseover="titleShow($event)" v-on:mouseout="titleShow($event)">{{item.title}}</span>
                            </div>
                            <div class="item-counts">
                                {{item.readcount}}
                            </div>
                            <p class="note">
                                {{item.text}}
                            </p>
                        </div>
                    </div>
                </transition-group>


                <div class="loadmore">
                    <div v-on:click="loadmore">
                        <span class="more">More...</span>
                        <div class="sk-three-bounce">
                            <div class="sk-child sk-bounce1"></div>
                            <div class="sk-child sk-bounce2"></div>
                            <div class="sk-child sk-bounce3"></div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="help-operation">
                <div class="login vip-info" v-if="isnotLogin">
                    <div class="login-title">
                        {{message}}
                    </div>
                    <div class="login-info">

                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <el-form :model="user" ref="loginForm" :rules="loginRules" status-icon label-width="70px">
                                <el-form-item label="用户名" prop="Name">
                                    <el-input name="Name" v-model="user.Name" autocomplete="onf"></el-input>
                                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                                </el-form-item>
                                <el-form-item label="密码" prop="Password">
                                    <el-input name="Password" type="password" v-model="user.Password" autocomplete="off"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" v-on:click="submitForm('loginForm')">登录</el-button>
                                    <el-button v-on:click="registerForm('loginForm')">注册</el-button>
                                </el-form-item>
                            </el-form>
                        }

                    </div>
                </div>
                <div class="vip-info" v-else>
                    <div class="user-name">
                        <div class="head-img">
                            <img src="../../Content/images/02.jpg" alt="">
                        </div>
                        <div class="names">
                            {{loginuser.nickname}}
                        </div>
                        <div v-if="!isnotLogin" class="logout" v-on:click="logout">[注销]</div>
                    </div>

                    <div class="option">
                        <a href="#" class="btn btn1">TTTTT1</a>
                        <a href="#" class="btn btn2">TTTTT2</a>
                        <a href="#" class="btn btn3">TTTTT3</a>
                        <a href="#" class="btn btn4">TTTTT4</a>
                    </div>
                </div>
                <div class="articles-category" ref="helptags">
                    <el-tag>标签一</el-tag>
                    <el-tag type="success">标签二</el-tag>
                    <el-tag type="info">标签三</el-tag>
                    <el-tag type="warning">标签四</el-tag>
                    <el-tag type="danger">标签五</el-tag>
                </div>
                <div class="Recommend">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis impedit praesentium consequatur necessitatibus asperiores repellat dolores pariatur modi provident hic?
                </div>
                <div class="statistics">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum adipisci quos ex aliquam voluptas, ratione beatae eius aperiam ad pariatur? Blanditiis ullam aut doloremque?
                </div>
            </div>

        </div>

        <div class="toTop" v-on:click="gotoTop">
            <el-tooltip class="item" effect="dark" content="回到顶部" placement="left">
                <i class="fa fa-caret-up fa-3x" aria-hidden="true"></i>
            </el-tooltip>
        </div>
        <footer>
            this is footer
        </footer>
    </div>



</body>
</html>


