
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Desktop</title>
    <meta name="description" content="后台首页">
    <meta name="keywords" content="user">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="~/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="~/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="~/assets/css/admin.css">
    <!--easyui-->
    <link rel="stylesheet" type="text/css" href="~/Content/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/icon.css">
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--<![endif]-->
    <script src="~/assets/js/amazeui.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/Scripts/easyuijs/jquery.easyui.min.js"></script>
    <style type="text/css">
    </style>
</head>
<body>
    <div class="am-cf admin-main" style="padding-top: 0px;">
        <div class="admin-content">
            <div class="admin-content-body">
                <div class="am-g">
                    
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h3 class="am-panel-title">面板标题</h3>
                        </div>
                        <div class="am-panel-bd">
                            <p>这里是面板其他内容。</p>
                        </div>
                        <table class="am-table">
                            ...
                        </table>
                        <div class="am-panel-footer">...</div>
                    </div>
                   
                </div>
            </div>
            <!-- content end -->
            <footer style="text-align: center">
                <hr />
                <p>sidebar template<br><small>© Copyright XXX. by the AmazeUI Team.</small></p>
            </footer>
        </div>
        
    </div>
</body>
</html>
